ClassMethodDemo/.vscode/launch.json
ClassMethodDemo/.vscode/tasks.json
ClassMethodDemo/bin/Debug/net5.0/ClassMethodDemo.deps.json
ClassMethodDemo/bin/Debug/net5.0/ClassMethodDemo.dll
ClassMethodDemo/bin/Debug/net5.0/ClassMethodDemo.exe
ClassMethodDemo/bin/Debug/net5.0/ClassMethodDemo.pdb
ClassMethodDemo/bin/Debug/net5.0/ClassMethodDemo.runtimeconfig.dev.json
ClassMethodDemo/bin/Debug/net5.0/ClassMethodDemo.runtimeconfig.json
ClassMethodDemo/bin/Debug/net5.0/ref/ClassMethodDemo.dll
ClassMethodDemo/obj/ClassMethodDemo.csproj.nuget.dgspec.json
ClassMethodDemo/obj/ClassMethodDemo.csproj.nuget.g.props
ClassMethodDemo/obj/ClassMethodDemo.csproj.nuget.g.targets
ClassMethodDemo/obj/project.assets.json
ClassMethodDemo/obj/project.nuget.cache
ClassMethodDemo/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ClassMethodDemo/obj/Debug/net5.0/apphost.exe
ClassMethodDemo/obj/Debug/net5.0/ClassMethodDemo.AssemblyInfo.cs
ClassMethodDemo/obj/Debug/net5.0/ClassMethodDemo.AssemblyInfoInputs.cache
ClassMethodDemo/obj/Debug/net5.0/ClassMethodDemo.assets.cache
ClassMethodDemo/obj/Debug/net5.0/ClassMethodDemo.csproj.CoreCompileInputs.cache
ClassMethodDemo/obj/Debug/net5.0/ClassMethodDemo.csproj.FileListAbsolute.txt
ClassMethodDemo/obj/Debug/net5.0/ClassMethodDemo.csprojAssemblyReference.cache
ClassMethodDemo/obj/Debug/net5.0/ClassMethodDemo.dll
ClassMethodDemo/obj/Debug/net5.0/ClassMethodDemo.GeneratedMSBuildEditorConfig.editorconfig
ClassMethodDemo/obj/Debug/net5.0/ClassMethodDemo.genruntimeconfig.cache
ClassMethodDemo/obj/Debug/net5.0/ClassMethodDemo.pdb
ClassMethodDemo/obj/Debug/net5.0/ref/ClassMethodDemo.dll
